body {
	overflow: hidden;
	font-family: 'Open Sans','Trebuchet MS', 'Segoe UI', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


header {
	margin-left: 1%;
	padding: 5px;
	display: flex;
	flex-direction: column;
}
header:first-child {
	margin-top : 1%;
}

h1 span {
	position: relative;
	color:  rgba(94, 95, 12, .9);
	font-size: 45px;
	font-weight: 600;
}

h1 span::after {
	content: '';
	display: block;
	background-color: rgba(221, 224, 47, 0.6);
	position: absolute;
	top : 1%;
	left : 0%;
	width: 25px;
	height: 70px;
	border-radius: 2px;
	transform : skewX(-15deg);
}

.social-links {
	margin-top: 20%;
	text-align: center;
	font-size: 20px;
}

.social-links a {
	text-decoration: none;
	color: rgb(112, 114, 9);;
	text-transform: capitalize;
	position: relative;
}

.social-links a::after {
	content: '';
	display: block;
	background-color: rgba(221, 224, 47, 0.5);
	position: absolute;
	bottom : 5%;
	left : 0%;
	width: 25px;
	height: 6px;
	transition: all .2s;
}

.social-links a.npm{
	text-transform: lowercase;
}
.social-links a:hover::after,
.social-links a:active::after {
	background-color: rgba(221, 224, 47, 0.7);
	width: 45px;
	height: 8px;
	transform : skewX(30deg);
}
.social-links a:active::after {
	transform : skewX(30deg);
	transform: scale(1.5);
}
@media screen and (min-width:600px){
	header {
		margin-left : 10%;
	}
	.social-links {
		margin-top: 10%;
	}
	header:first-child {
		margin-top: 10%;
	}
}
