body {
	overflow: hidden;
}


header {
	margin-left: 1%;
	padding: 5px;
	display: flex;
	flex-direction: column;
}
header:first-child {
	margin-top : 1%;
}

span {
	position: relative;
	color:  rgba(94, 95, 12, 1);
	font-size: 50px;
	font-family: 'Trebuchet MS', 'Segoe UI', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

span::after {
	content: '';
	display: block;
	background-color: rgba(221, 224, 47, 0.6);
	position: absolute;
	top : 2%;
	left : 0%;
	width: 25px;
	height: 70px;
	border-radius: 2px;
}

.social-links {
	margin-top: 20%;
	text-align: center;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 20px;
}

.social-links a {
	text-decoration: none;
	color: rgb(112, 114, 9);;
	text-transform: capitalize;
	position: relative;
}

.social-links a::after {
	content: '';
	display: block;
	background-color: rgba(221, 224, 47, 0.6);
	position: absolute;
	bottom : 5%;
	left : 0%;
	width: 25px;
	height: 5px;
}

.social-links a.npm{
	text-transform: lowercase;
}

@media screen and (min-width:600px){
	header {
		margin-left : 10%;
	}
	.social-links {
		margin-top: 10%;
	}
	header:first-child {
		margin-top: 10%;
	}
}
